doctype 5
html
  head
    title= title
    link(href="http://fonts.googleapis.com/css?family=Codystar", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/style.css")
    //- todo require.js
    script(src="http://localhost:35729/livereload.js")
    //- jquery for now. repalce with zepto again once modules are worked in
    //- script(src="/components/zepto/zepto.js")
    script(src="/components/jquery/dist/jquery.js")
    script(src="/components/knockout/dist/knockout.js")
    script(src="/components/easyModal.js/jquery.easyModal.js")
    script(src="/components/ace-builds/src-noconflict/ace.js")
  body
    header First Bytes Society - Editor
    block content