doctype 5
html
  head
    title= title
    link(href="http://fonts.googleapis.com/css?family=Codystar", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/style.css")
    //- todo require.js
    script(src="http://localhost:35729/livereload.js")
    script(src="/components/zepto/zepto.js")
    script(src="/components/ace-builds/src-noconflict/ace.js")
    script(src="/js/editor.js")
  body
    header First Bytes Society
    div#error
    iframe#sandbox(class="sandbox",src="/canvas",width="500", height="500", scrolling="no")
    div#editor(class="editor").
        // Set up some variables
        var x = 0, white = 255, black = 0;
        FB.background(black);
        FB.fill(white);

        // Animate with frames!
        FB.draw = function() {
            FB.rect(x, 10, 100, 200);
            x = x + 1;
        };