html, body {
    margin: 0;
    padding: 0;
}
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #222;
}

a {
  color: #00B7FF;
}

header {
  background: #333;
  color: #fff;
  font: 32px 'Codystar';
  padding: 10px;
  text-align: center;
}

.sandbox {
    border: none;
    overflow: hidden;
    /*position: absolute;*/
    /*margin-left: 710px;*/
    float: right;
}

.editor {
    /*width: 700px;*/
    position: absolute;
    display: block;
    margin-right: 510px;
    height: 500px;
}

/*Menu*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
}
nav ul li.button {
  background: #333;
  margin: 3px;
  cursor: pointer;
}

/* Modals */
.modal {
    width: 300px;
    background: #fff;
    color: #333;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 100px;
    z-index: 100;
}
#overlay {
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.message {
  color: #ccc;
  padding: 5px;
  font-family: Helvetica;
  font-size: 10px;
}

.error {
    background: #eee;
    border: solid 1px #ccc;
    padding: 10px;
    display: none;
}