html, body {
    margin: 0;
    padding: 0;
}
body {
  /*padding: 50px;*/
  font: 14px Helvetica, Arial, sans-serif;
  background: #222;
}

a {
  color: #00B7FF;
}

header {
  background: #333;
  color: #fff;
  font: 17px 'Codystar';
  padding: 10px;
  text-align: left;
}

.sandbox {
  border: none;
  overflow: hidden;
  /*position: absolute;*/
  /*margin-left: 710px;*/
  float: right;
}

.editor {
  /*width: 700px;*/
  position: absolute;
  display: block;
  margin-right: 510px;
  height: 500px;
}

.chat {
  background: #eee;
}

.instructions {
  background: #eee;
  height: 250px;
  z-index: 9999;
  display: block;
  margin-right: 510px;
}
.instructions div {
  padding: 10px;
}

/*Menu*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  font-size: 17px;
  /*letter-spacing: 1px;*/
  padding: 5px;
  /*text-transform: uppercase;*/
  color: #fff;
}

nav ul li.button {
  background: #333;
  margin: 3px;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
}
nav ul li.button:hover {
  background: #666;
}

nav .right {
  float: right;
}

li.button#delete {
  background: darkred;
}

/* Modals */
.modal {
  width: 600px;
  background: #fff;
  color: #333;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  top: 10%;
  z-index: 100;
  max-height: 80%;
  overflow: scroll;
  /*white-space: nowrap;*/
}

.overlay {
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.overlay-text {
  width: 200px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
  background: #333;
  text-align: center;
  color: #fff;
  z-index: 100;
  font-size: 17px;
  border-radius: 3px;
}

.message {
  color: #ccc;
  padding: 5px;
  font-family: Helvetica;
  font-size: 10px;
  float: right;
  text-align: right;
}

.error {
  background: #eee;
  border: solid 1px #ccc;
  padding: 10px;
  display: none;
  float: right;
  text-align: right;
}

.projects {
  cursor: pointer;
}

ul.clickable {
  list-style: none;
  /*margin: 0;*/
  padding: 0;
}

ul.clickable li {
  list-style: none;
  margin: 5px 0;
  padding: 5px;
  display: block;
  cursor: pointer;
  background: #eee;
}

ul.clickable li:hover {
  background: #ccc;
}

/* Reference */
#reference code {
  display: block;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background: #eee;
}

#reference table {
  border: solid 1px #ccc;
  border-width: 1px 1px 0 0;
  padding: none;
  margin: none;
}

#reference table td {
  padding: 3px;
  margin: none;
  border: solid 1px #ccc;
  border-width:  0 0 1px 1px;
}

#reference table tr, #reference table tbody {
  padding: none;
  margin: none;
}